#blogContent h2 {
  font-size: 1.27rem;  
}
#blogContent p {
    
    font-size: 1.25rem;
   
}
#blogContent h1{

    background-color: #f2c177;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
#blogContent a{

    color:orange;

}
