/* mobile first design -- everything down to the media query is for mobile */

html, body {
    height: 100%;
    margin:0;                   /* no white border around browser window */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* no tail font is more readable for small font */
    font-size:16px;
}

* {
    box-sizing: border-box;
}

body { 


    /* subtle background image - make sure it is SUBTLE (must be able to easily read all text) */
    background-image: url("../pics/worldBg.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size:16px;
}




.hero {
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: bold;
    text-align:center;
}

#footer {

    /* Fix the footer at the bottom, and make sure (z-index) it's on top of content */
    position: fixed; 
    bottom:0px;
    z-index: 1;

    background-color: #535963;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 5px #74A5FD; /* same color as titleNav */  
}

/* desktop only */



