
/* 
    Created on : Jan 22, 2021, 4:14:33 PM
    Author     : henry
*/

/* Don't want tiny white border inside browser window - apply to html and body. */
html, body {  
    margin:0; 
    padding:0; 
}

body { 
    background-color: #f0f5fa; /* this is the turqoise color */
    color: black;  /* color of font */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /* no tail font is more readable for small font */
    font-size:16px;
}

#titleNav { /* titleNav is fixed, always at the top */

    /* position fixed removes the element from the normal flow, placing it where you specify with top/bottom, left/right */
    position:fixed; 
    top:0px;
    left:0px;
    z-index: 1;     /* To make sure titleNav is on top of content, give it a higher z-index than content 
                    (content would have default value of zero). */
    width: 100%;    

    background-color:#535963;

    padding-bottom: 10px; 
    /* height: 86px; /* NEW */
    color: white;
    font-family: serif; 
    font-weight: bold;
}

#title { /* no change */
    padding:12px;
    padding-bottom: 0px;
    font-size:48px;
    letter-spacing: 1.5px; /* spaces out letters a bit */              
}

#nav { /* fix the nav bar */

    text-align:right;
    font-size:24px;
    padding-bottom: 12px;             
    padding-top:32px;
    white-space: nowrap;
}

@media only screen and (min-width: 700px) { /* 1:1 title nav ratio when viewport is more than 700px*/
    #titleNav {
        display: flex; 
    }
    #title {
        flex: 1; 
    }
    #nav {
        flex: 1; 
    }

    #content {  /* Added padding top and bottom to prevent top/bottom content from getting hidden under titleNav/footer */ 


        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 700px) { /* 1:1 title nav ratio when viewport is less than 700px*/


    #content {  /* Added padding top and bottom to prevent top/bottom content from getting hidden under titleNav/footer */ 


        padding-top: 140px; /* prevent the top of the content from getting hidden under the fixed titleNav */
        padding-bottom: 40px; /* prevent the top of the content from getting hidden under the fixed titleNav */
        padding-left: 5px;
        padding-right: 5px;
    }
}






#footer { /* footer fixed, always at the bottom */
    position: fixed;
    bottom: 0px; 
    left: 0px; 
    z-index: 1; /* make sure footer is on top of content which would have default z-index value of 0 */

    background-color:#535963;
    color: white; 
    width:100%;
    text-align:center;
    padding:8px;	 	 
}

li{
    color:#5c5a5a;
}
ul{
    list-style-type: square;
}



#nav a:link{
    color: #C8C8C8; 
    text-decoration:none; 
}
#nav a:visited{
    color: #e8ba7d;
}
#nav a:hover{
    color: #000000;

}


@media only screen and (min-width: 780px) { /* 2.8 : 1.2 description image ratio viewport is more than 780px*/
    #descPic{
        display:flex; 
        padding-top: 10px;
    }
    #pic{
        flex: 1.2;
    }
    #desc{
        flex: 2.8;
    }
    #homeImg{
        width: 100%;
        height: 100%;

    }
}
@media only screen and (max-width: 780px) { /*Wrap image when viewport is less than 780px*/

    #homeImg{
        width: 60%;


    }
    #pic{
        text-align: center;
    }
    #descPic{

        padding-top: 10px;
    }
}



.myHeader{

    background-color: #f2c177;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}



