.mainBox {


}
.mainBox h1 {
    background-color: #f2c177;
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
.sneakersBox {
    display:flex;  
}

.sneaker_n{
    margin-right: 2rem; 

}
.sneaker_n img{
    width: 20vw;
    height: 30vh;

}

.sneaker_n button{
    background-color:  #ebe9e4;
}





