/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2021, 3:59:16 PM
    Author     : tsunkitlam
*/

.avatarStyle {
    background-color: #DFE9F3;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: 10px;
    
}
