/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2021, 3:50:22 PM
    Author     : henry
*/
.find {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}
.errorMsg{
    color:red;
}
.find div {
    padding-top: 2rem;
    margin:auto; /* centers the div in its container */
}

.find span { /* these are the prompts before the textboxes */
    margin-left: 1rem;
    margin-right: 0.25rem;
}

.find button {
    margin-left: 1rem;
}

.find img {
    width: 20%;
    border-radius:0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #888888;
}
