
#content {
  
}
#content .insertArea h2{
    
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}
#content .insertArea  .error{
    
    font-weight: bold;
    color: red;
      
}

.clickableImg {
    cursor: pointer;
}


